Zlatko Pračić <zlatkopr@gmail.com> zlatko <zlatkopr@gmail.com>
Zlatko Pračić <zlatkopr@gmail.com> Zlatko Pračić <53391918+bujin2502@users.noreply.github.com>
Denis Kuzminski <dkuzminsk22@student.foi.hr> dkuzminsk22 <dkuzminsk22@student.foi.hr>
